@inject BinaryHelper _binaryHelper

@{
    User user = null;
    if (Context.Session.Keys.Contains("User"))
    {
        user = _binaryHelper.FromBinary<User>(Context.Session.Get("User"));
    }
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="فروشگاه" name="description" />
    <meta content="" name="author" />
    <link href="/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/css/components-rtl.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/admin/assets/global/css/plugins-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/layouts/layout/css/layout-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/layouts/layout/css/themes/darkblue-rtl.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/admin/assets/layouts/layout/css/custom-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css/font.css" rel="stylesheet" />
    <link href="/admin/css/gridmvc.css" rel="stylesheet" />
    <link href="/admin/css/site.css" rel="stylesheet" />
    @RenderSection("Styles",false)
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile"> @(user==null?"":user.Username) </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/home/userprofile" class="persian-font" data-toggle="modal" data-target="#changePasswordDialog">
                                        <i class="icon-user"></i> تغییر رمز
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="/home/userlogout" class="persian-font">
                                        <i class="icon-key"></i> خروج
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <li class="nav-item start active open">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">داشبورد</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start active open">
                                    <a href="/home/userindex" class="nav-link ">
                                        <i class="icon-bar-chart"></i>
                                        <span class="title">خانه</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">داده های پایه</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/units/index" class="nav-link ">
                                        <span class="title">واحد اندازه گیری</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/states/index" class="nav-link ">
                                        <span class="title">استان</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/cities/index" class="nav-link ">
                                        <span class="title">شهر</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">منابع انسانی</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/users/index" class="nav-link ">
                                        <span class="title">کاربر</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/customers/index" class="nav-link ">
                                        <span class="title">مشتری</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">محصول</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/categories/index" class="nav-link ">
                                        <span class="title">گروه</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/subcategories/index" class="nav-link ">
                                        <span class="title">زیرگروه</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/productattributes/index" class="nav-link ">
                                        <span class="title">ویژگی</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/products/index" class="nav-link ">
                                        <span class="title">کالا</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <i class="icon-calendar"></i>&nbsp;
                            @(new PersianDateTime(DateTime.Now).ToShortDateString())
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="page-footer text-center">
        <div class="page-footer-inner">
            1399 &copy; فروشگاه
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <div id="changePasswordDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="post" action="/home/changeuserpassword">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="persian-font modal-title">تغییر رمز</strong>
                    </div>
                    <div class="modal-body">
                        <input type="password" name="password" class="form-control" placeholder="رمز جدید" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-success pull-left persian-font">ذخیره</button>
                        <button class="btn btn-sm btn-primary pull-right persian-font" data-dismiss="modal">انصراف</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="/admin/assets/global/plugins/respond.min.js"></script>
    <script src="/admin/assets/global/plugins/excanvas.min.js"></script>
    <script src="/admin/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <script src="/admin/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="/admin/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="/admin/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="/admin/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <script src="/admin/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="/admin/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="/admin/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/admin/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <script src="/admin/js/gridmvc.js"></script>
    <script src="/admin/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/admin/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", false)
    <script>
        $(document).ready(function () {
            $('.grid-search input').attr('placeholder', 'جستجو ...');
            $('button.grid-search-clear').text('انصراف');
            $('button.grid-search-apply').text('جستجو');
        });
        function setId(id) {
            $('#id').val(id);
        }
    </script>
    <div class="modal fade" role="dialog" id="deleteDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong class="modal-title">حذف</strong>
                </div>
                <div class="modal-body">
                    <p>آیا از حذف این اطلاعات اطمینان دارید ؟</p>
                </div>
                <div class="modal-footer">
                    <form action="./delete" method="post">
                        <input type="hidden" name="id" id="id" />
                        <button class="btn btn-xs btn-danger pull-left">تائید</button>
                        <button class="btn btn-xs btn-success" data-dismiss="modal" type="button">انصراف</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>